fastapi==0.118.0
uvicorn==0.37.0
gunicorn==23.0.0
requests==2.32.5
pydantic==2.11.10
jinja2==3.1.6
beautifulsoup4==4.14.2
markdown-it-py==3.0.0
mdurl==0.1.2
pdfminer.six==20231228
typing-inspection==0.4.2


